.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

.logo-name {
    width: 250px;
    text-align: center;
    padding-left: 1em;
    font-weight: bold;
    font-size: 32px;
}

ul {
    justify-self: center;
}

ul a {
    font-size: 24px;
    font-weight: 500;
    color: rgba(9,9,121,1);
}