<div class="card mx-auto">
  <div class="card-body">
    <form class="needs-validation" novalidate (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name*</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name" id="name" placeholder="Please enter a name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="email" id="email" required>
      </div>
      <div class="buttonsContainer">
        <button *ngIf="name.length > 0" type="submit" class="btn btn-primary userBtn">Submit</button>
        <button type="button" class="btn btn-outline-secondary" (click)="clickButton('/users')">View Users</button>
      </div>
    </form>
  </div>
</div>