.ng-pristine#name.ng-invalid.ng-touched {
    background-color: tomato;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.card-header {
   font-weight: 500;
   font-size: 40px;
}
