<div class="container-lg mt-5">
  <div class="card">
    <div class="card-body">
      <h1>Users Panel</h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.name | titlecase}}</td>
            <td>{{user.email | lowercase}}</td>
            <td><app-update-user-panel (onUpdateUser) = "updateUser($event)"></app-update-user-panel></td>
            <td><app-delete-user (onDeleteUser) = "deleteUser(user)"></app-delete-user></td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-outline-secondary" (click)="clickButtonBack('/welcome')">Back</button>
    </div>
  </div>
</div>
