.wrapper {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    justify-content: space-between;
}

.app-navbar {
    background-color: #f8f9fa;
}

router-outlet {
    display: none;
}
