<div class="container mt-5 mb-3">
    <div class="card ">
      <div class="card-header">
        Update User
      </div>
        <div class="card-body update-panel">
          <form class="needs-validation" novalidate (ngSubmit)="onSubmit(user)" >
            <div class="mb-3">
              <label for="user.name" class="form-label">Name: </label>
                <input type="text" class="form-control" name="name" [(ngModel)]="this.name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email: </label>
              <input type="email" class="form-control" name="email" [(ngModel)]="this.email" id="email" placeholder="Change email">
            </div>
            <button type="button" class="btn btn-primary mb-3" (click)="openModal()">Update</button>
          </form>

          <button type="button" class="btn btn-outline-secondary" (click)="onReturn('/users')">Return</button>
        </div>
      </div>
</div>
