<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
</div>
<div class="modal-body">
  <p>Are you sure you want to 
    <span *ngIf="modalInfo.type == 'update'">update</span>
    <span *ngIf="modalInfo.type == 'delete'">delete</span>
    this user?
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onConfirm()">Yes</button>
  <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">No</button>
</div>